*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #3b0071, #4b0082);
    height: 100dvh;
}
.container{
    --size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 680px;
}
.item:nth-child(1) { transition: 1s 0.0s; background: cyan; border-radius: 50% 50% 0% 50%;  }
.item:nth-child(2) { transition: 1s 0.3s; background: orange; border-radius: 50% 50% 0% 0%; }
.item:nth-child(3) { transition: 1s 0.6s; background: #00FF7F; border-radius: 50% 50% 50% 50%; }
.item:nth-child(4) { transition: 1s 0.9s; background: #aa4fff; border-radius: 0%  0%  0%  50%; }
.item:nth-child(5) { transition: 1s 2.7s; background: bisque; border-radius: 0%  50% 50% 0%;  }
.item:nth-child(6) { transition: 1s 3.0s; background: #aa4fff; border-radius: 0%  50% 0%  50%; }
.item:nth-child(7) { transition: 1s 3.3s; background: pink; border-radius: 50% 0%  50% 50%; }
.item:nth-child(8) { transition: 1s 1.2s; background: orange; border-radius: 50% 0%  0%  50%; }
.item:nth-child(9) { transition: 1s 2.4s; background: pink; border-radius: 0%  0%  50% 50%; }
.item:nth-child(10){ transition: 1s 2.1s; background: #00FF7F; border-radius: 50% 0%  50% 0%;  }
.item:nth-child(11){ transition: 1s 1.8s; background: bisque; border-radius: 0%  50% 50% 50%; }
.item:nth-child(12){ transition: 1s 1.5s; background: cyan; border-radius: 50% 50% 50% 0%;  }
.item{
    background: #ff6600;       
    width: var(--size);
    height: var(--size);
    box-shadow: 3px 3px 9px #000;
    transform: scale(0.7);
    opacity: 0;
    overflow: hidden;
    img{
        width: var(--size);
        height: var(--size);   
    }
}
.changeItem{
    background: blue;
    opacity: 1;
    transform: scale(1);
}
